absl-py==2.2.1
black==25.1.0
chex==0.1.89
click==8.1.8
etils==1.12.2
flax==0.10.4
fsspec==2025.3.0
humanize==4.12.2
importlib_resources==6.5.2
isort==6.0.1
jax==0.5.3
jaxlib==0.5.3
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.1
msgpack==1.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numpy==2.2.4
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.11.10
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
protobuf==6.30.1
Pygments==2.19.1
PyYAML==6.0.2
rich==13.9.4
scipy==1.15.2
setuptools==78.1.0
simplejson==3.20.1
tensorstore==0.1.72
toolz==1.0.0
treescope==0.1.9
typing_extensions==4.13.0
zipp==3.21.0
